<p>Bonjour {{ user.username }},</p>

<p>Il nous semble que tu as récemment fait une demande de modification de mot de passe.</p>
<p>Pour y procéder, <a href="{{ url_for('reset_password', token=token, _external=True) }}">clique ici</a>.</p>
</br>
<p> Tu peux également coller le lien suivant dans la barre d'adresse de ton navigateur: </p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
</br>
<p>Si tu n'es pas à l'origine de la demande de réinitialisation de mot de passe, merci de simplement ignorer ce message.</p>

<p>À très bientôt,</p>

<p>L'équipe PIA Chatbot</p>